<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Welcome to Rentique</title>

  <meta name="theme-color" content="#06324f">
  <link rel="manifest" href="/manifest.json">
  <link rel="apple-touch-icon" href="/assets/logos/rentique-sub.png">

  <link rel="stylesheet" href="../../components/css/var.css" />
  <link rel="stylesheet" href="../../components/css/header-footer.css" />

  <link rel="stylesheet" href="../css/main.css" />
  <link rel="stylesheet" href="../css/c-welcome.css" />
  <link rel="stylesheet" href="/view/components/css/modal.css" />
  <script src="../../../controller/components/modal.js" defer></script>

</head>

<body>
  <div id="header-placeholder" data-user-type="customer"></div>
  <main class="welcome-container">
    <section class="welcome-hero">
      <h1 class="welcome-title">WELCOME TO RENTIQUE</h1>
      <div class="hero-image-container">
        <img src="https://firebasestorage.googleapis.com/v0/b/rentique-teama.firebasestorage.app/o/slide.svg?alt=media&token=61c99b15-beb7-49b1-b069-e741767ae65b" alt="Welcome to Rentique - Fashion Shopping" class="hero-image" />
      </div>
    </section>
  </main>

  <div id="footer-placeholder" data-user-type="customer"></div>

  <script type="module" src="../../../controller/components/components.js" defer></script>
</body>

</html>
