<!-- @Made By: Gurpreet Singh -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rentique - Success</title>

  <meta name="theme-color" content="#06324f">
  <link rel="manifest" href="/manifest.json">
  <link rel="apple-touch-icon" href="/assets/logos/rentique-sub.png">
  <link rel="stylesheet" href="../css/auth.css">

  <link rel="stylesheet" href="/view/components/css/modal.css" />
  <script src="../../../controller/components/modal.js"  type = "module" defer></script>
</head>
<body>
  <div class="container success-container">
    <div class="success-content">
      <img src="https://hebbkx1anhila5yf.public.blob.vercel-storage.com/logo-4eh45c3WUpYmwPpP2HPt2jStjtt4Gt.png" alt="Rentique logo" class="logo-large">
      <h1>RENTIQUE</h1>
      <h2>Welcome to Rentique!</h2>
      <p>Your account has been created successfully.</p>
      <a href="./b-home.html" class="btn dark">GET STARTED</a>
    </div>
  </div>
</body>
</html>
