<!-- @Made By: Dalbir -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Rentique · Change Password</title>

    <meta name="theme-color" content="#06324f">
    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="/assets/logos/rentique-sub.png">
    <link rel="stylesheet" href="../../components/css/var.css" />
    <link rel="stylesheet" href="../../components/css/modal.css" />
    <link rel="stylesheet" href="../../components/css/header-footer.css" />
    <link rel="stylesheet" href="../css/b-change-password.css" />
    <script src="../../../controller/components/components.js" type="module" defer></script>
    <script src="../../../controller/business-side/b-change-password.js" type="module" defer></script>
    <script src="../../../controller/components/modal.js"  type = "module" defer></script>
    
</head>
<body>
  <div class="wrapper">

    <div id="header-placeholder" data-user-type="business"></div>

    <main>
        <div class="change-password-container">
            <div class="change-password-sidebar">
            <h2>BRAND SETTING</h2>
            <a href="b-profile.html">Brand information</a>
            <a href="b-change-password.html" class="active">Change password</a>
            </div>

            <div class="change-password-form">
            <form>
                <label for="currentPassword">Current password</label>
                <input type="password" id="currentPassword" placeholder="">

                <label for="newPassword">New password</label>
                <input type="password" id="newPassword" placeholder="">

                <button type="submit" class="save-btn">SAVE</button>
            </form>
            </div>
        </div>
    </main>

    <div id="footer-placeholder" data-user-type="business"></div>
  </div>

</body>
</html>
