<!-- @Made By: Dalbir -->
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Rentique · Brand Setting</title>

<meta name="theme-color" content="#06324f">
<link rel="manifest" href="/manifest.json">
<link rel="apple-touch-icon" href="/assets/logos/rentique-sub.png">
  <link rel="stylesheet" href="../../components/css/var.css" />
  <link rel="stylesheet" href="../../components/css/modal.css" />
  <link rel="stylesheet" href="../../components/css/header-footer.css" />
  <link rel="stylesheet" href="../css/b-setting.css"/>
  <script src="../../../controller/components/modal.js"  type = "module" defer></script>
  <script src="../../../controller/components/components.js" type="module" defer></script>  
</head>
<body>

  <div id="header-placeholder" data-user-type="business"></div>

  <main>
    <h2>BRAND SETTING</h2>
    <div class="setting-options">
      <a href="./b-profile.html">Brand profile</a>
      <a href="./b-change-password.html">Change password</a>
    </div>
  </main>

    <div id="footer-placeholder" data-user-type="business"></div>

</body>

</html>
