<header>
    <div class="left-section">
        <a href="browse.html">
          <img src="../assets/Icon_back.svg" alt="Back" class="icon-back">
        </a>
        <img src="../assets/Group 11.png" alt="Rentique Logo" class="logo">
        <img src="../assets/Asset 1.png" alt="Rentique Logo" class="logo-text">
    </div>

    <nav>
        <a href="#">BROWSE</a>
        <a href="#">CHAT LIST</a>
        <a href="#" class="active">PROFILE</a>
        <span class="greeting">Hi, Rentee</span>
    </nav>
</header>