<!-- Reusable Header Component -->
<!-- Usage: Include this file and add data-user-type="customer" or data-user-type="business" to the header tag -->
<header data-user-type="customer">
  <div class="logo">
    <div class="brand">
      <a href="#" data-nav="home">
        <img class="logo-main" src="/placeholder.svg" alt="Logo" data-logo="main" />
        <img src="/placeholder.svg" alt="RENTIQUE" data-logo="sub" />
      </a>
    </div>
  </div>
  <div class="header-right">
    <nav>
      <ul data-nav-links>
        <!-- Navigation links will be dynamically inserted by JavaScript -->
      </ul>
    </nav>
    <div class="user">
      <span data-user-greeting></span>
    </div>
  </div>

  <!-- ICONS and LOGO for MOBILE -->
  <div class="header-icons">
    <img src="/placeholder.svg" alt="Search" class="icon" data-icon="search" />
    <img src="/placeholder.svg" alt="Rentique Logo" class="logo-center" data-logo="center" />
    <div class="right-icons">
      <img src="/placeholder.svg" alt="Chat" class="icon" data-icon="right-1" />
      <img src="/placeholder.svg" alt="User" class="icon" data-icon="right-2" />
    </div>
  </div>
</header>
