body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #222;
    margin: 0;
    padding: 0;
}

header {
    background-color: #222;
    color: white;
    padding: 1rem 0;
     display: flex;              
    justify-content: space-between; 
    align-items: center;
}

header h1 {
    margin: 0;
    margin-left: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: right;
    gap: 1rem;
    margin-right: 50px;
}


nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a.active {
    text-decoration: underline;
}

main {
    max-width: 400px;
    margin: 3rem auto;
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input {
    padding: 0.8rem;
    border: 1px solid #aaa;
    border-radius: 8px;
}

button {
    background-color: black;
    color: white;
    border: none;
    padding: 0.8rem;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

p {
    text-align: center;
    margin-top: 1rem;
}

a {
    color: #0077cc;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}
