<!-- @Made By:  -->
<header data-user-type="customer">
  <div class="logo">
    <div class="brand">
      <a href="#" data-nav="home">
        <img class="logo-main" src="/placeholder.svg" alt="Logo" data-logo="main" />
        <!-- <img src="/placeholder.svg" alt="RENTIQUE" data-logo="sub" /> -->
      </a>
    </div>
  </div>
  <div class="header-right">
    <nav>
      <ul data-nav-links>
      </ul>
    </nav>
    <div class="user-menu">
      <button type="button" class="user-menu__trigger" aria-haspopup="true" aria-expanded="false">
        <span data-user-greeting></span>
        <svg class="user-menu__chevron" width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.41 0.59L6 5.17L10.59 0.59L12 2L6 8L0 2L1.41 0.59Z" fill="currentColor"/></svg>
      </button>
      <div class="user-menu__dropdown" hidden>
      </div>
    </div>
  </div>

  <div class="header-icons">
    <a href="#" data-link="search">
        <img src="/placeholder.svg" alt="Search" class="icon" data-icon="search" />
    </a>
    
    <a href="#" data-link="home">
        <img src="/placeholder.svg" alt="Rentique Logo" class="logo-center" data-logo="center" />
    </a>
    
    <div class="right-icons">
        <a href="#" data-link="right-1">
            <img src="/placeholder.svg" alt="Chat" class="icon" data-icon="right-1" />
        </a>
        

    <div class="user-icon-menu" data-mobile-user-menu>
    <a href="#" data-link="right-2">
      <img src="/placeholder.svg" alt="User" class="icon" data-icon="right-2" />
    </a>
    <div class="user-icon-menu__dropdown" hidden>
    </div>
  </div>

    </div>
</div>
</header>
